In [6]:
import pandas as pd
pd.plotting.register_matplotlib_converters
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
data = pd.read_csv('train.csv', index_col='PassengerId')
data.dropna().head(15)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
8,0,1,"Wardlaw, Michael",male,27.0,2,1,474849,73.02,A7253,S
9,0,2,"Greigo, Rudy",male,66.0,0,0,6981,9.14,D2969,C
11,0,1,"Telschow, Robert",male,60.0,0,0,19600,31.50,A9055,S
12,0,3,"Stewart, Pat",male,36.0,0,0,434108,9.34,C8674,S
14,1,1,"Seaton, Karen",female,44.0,0,1,12425,28.40,D6945,C
19,1,1,"Hall, Stephanie",female,61.0,0,4,PC 174821,205.01,B7010,Q
25,0,1,"Dagostino, Christa",female,53.0,1,1,11856,82.57,B11790,Q
27,1,1,"Way, Tina",female,35.0,0,2,476162,154.61,C20297,C
33,1,1,"Roth, Pamela",female,67.0,1,0,448145,97.20,B16390,Q
37,1,1,"Sell, Dewayne",male,54.0,0,0,207138,228.82,B7665,S
40,1,1,"Lynch, Carmen",female,69.0,1,0,PC 420055,116.65,D6224,Q
42,1,2,"Nielsen, Linda",female,7.0,0,1,39411,28.53,B21244,S
47,0,1,"Welch, William",male,43.0,0,0,453379,61.21,D1695,S
50,1,1,"Thomas, Craig",male,63.0,0,0,8189,80.11,C12615,C
52,0,1,"Collins, Anthony",male,45.0,1,0,44605,67.23,D19734,S

In [13]:
# plt.figure(figsize(16,6))
# sns.lineplot(data=data['Survived'])#,'Pclass']])#,'Age','SibSp','Parch','Fare']])
# find age / survived: for each age find percentage of survived to total quantity
age_surv = data[['Survived','Age']].sort_values('Age')
print(age_surv)
print(age_surv.groupby('Age').count())

             Survived   Age
PassengerId
35773               0  0.08
84842               0  0.08
48045               1  0.08
35654               1  0.08
35328               1  0.08
80080               1  0.08
78544               1  0.08
34358               1  0.08
51082               0  0.08
51695               1  0.08
16969               0  0.08
75596               1  0.08
73668               0  0.08
31940               0  0.08
19373               0  0.08
31566               0  0.08
31254               1  0.08
68263               0  0.08
68072               0  0.08
66484               0  0.08
24210               0  0.08
64270               1  0.08
25354               0  0.08
62943               0  0.08
46289               1  0.08
87749               1  0.08
27963               1  0.08
92800               0  0.08
90080               1  0.08
4598                0  0.08
...               ...   ...
98733               0   NaN
98770               0   NaN
98880               1   NaN
98956               1   NaN
98999               0   NaN
99087               1   NaN
99111               0   NaN
99158               1   NaN
99172               0   NaN
99203               0   NaN
99251               0   NaN
99325               0   NaN
99329               1   NaN
99353               0   NaN
99406               1   NaN
99425               0   NaN
99479               0   NaN
99490               1   NaN
99516               1   NaN
99540               0   NaN
99563               1   NaN
99662               0   NaN
99667               0   NaN
99688               1   NaN
99717               0   NaN
99772               0   NaN
99876               1   NaN
99971               0   NaN
99972               0   NaN
99986               0   NaN

[100000 rows x 2 columns]
       Survived
Age
0.08         39
0.17         67
0.25         68
0.33         53
0.42         62
0.50         58
0.58         62
0.67         62
0.75         57
0.83         63
0.92         51
1.00        649
1.50          2
2.00        879
2.50          7
3.00        925
3.50          2
4.00       1012
4.50          5
5.00       1008
5.50          5
6.00        970
6.50          4
7.00        941
7.50          6
8.00        816
8.50          3
9.00        730
9.50          5
10.00       602
...         ...
68.00       678
68.50         2
69.00       561
69.50         1
70.00       465
70.50         2
71.00       448
71.50         3
72.00       360
72.50         5
73.00       297
73.50         2
74.00       223
74.50         1
75.00       155
75.50         2
76.00       136
77.00        86
78.00        70
78.50         1
79.00        62
80.00        36
80.50         1
81.00        19
82.00         9
83.00         9
84.00         3
85.00         4
86.00         2
87.00         1

[173 rows x 1 columns]

# Context

# Data quality assessment

# Data exploration

# Summary